@model IEnumerable<assignment_4.Dbo.PostModelDbo>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<div>
    <span>
        <caption>New post</caption>
        <a asp-area="" asp-controller="Blog" asp-action="Add">
            <button class="btn btn-primary" id="buttonAdd">Add</button>
        </a>
    </span>
</div>

<h2>Welcome to the blog!</h2>
<hr/>
<div>
@foreach (var postModel in Model)
    {
        if (postModel.Summary != "")
        {
            <partial name="_PostPartial" model="postModel"/>
        }
    }
</div>

<!-- this code is retrieved from 'Shared/_PostPartial' -->